//加，减
$left:10px;
$right:10px;
.class{
  left: 10px + 10px;
  right: $left - $right;
}

//乘，除
.class{
  left: 10px + 10px;
  right: $left * $right;  //错误
  _right: $left * 2; //正确
}

//表达式拼接
$int:10;
.class{
  left: #{$int}px;
}